<div class="forms">
  <h2>Choose Your Course</h2>

  <%= simple_form_for @enrolment do |f| %>
    <%= f.association :course, as: :select %>
    <%= f.submit 'Apply' %>
  <% end %>

  <p.italic>"Just be ready for the emotional roller-coaster" Anonymous student</p>
  <p><%= image_tag 'roller-coaster.gif' %></p>
</div>