<h1><strong>WELCOME TO YOUR GA SCHEDULER</strong></h1>
<div class="box" id="one">
  <%= link_to 'Browse our Courses', courses_path %>
</div>
<div class="box" id="two">
  <%= link_to 'Create a GA Account', new_user_registration_path %>
</div>
<div class="box" id="three">
  <%= link_to 'Sign-up to a Course', new_enrolment_path %>
</div>