<h1>Welcome to GA Scheduler</h1>
<div class="box">
  <%= link_to 'Browse our Courses' %>
</div>
<div class="box">
  <%= link_to 'Create a GA Account' %>
</div>
<div class="box">
  <%= link_to 'Sign-up to a Course' %>
</div>