/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
*{
  font-family: 'Open Sans Condensed', sans-serif;
}
 .article{
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  width: 300px;
  border: dotted 1px;
  text-align: center;
  display:inline-block;
 }
 .article img{
  border-radius: 20px;
  padding:5px;
 }
 img:hover{
  opacity:0.5;
 }
 #vertical{
  display:block;
 }
  .box{
  padding: 70px;
  margin:-3px;
  height:420px;
  width: 33.45%;
  display: inline-block;
  text-align:center;
  font-size: 25px;
  color:black;
  background: #FAF8F0; 
  background-size: 200%; 
 }
 .box:hover{
  background-size: 220%;
  transition: all 2s;
 }
 .box a{
  color:black;
 }
 #one{
  background-image: image-url('menu-1.jpg');
 }
 #two{
  background-image: asset-url('menu-2.jpg', image);
 }
 #three{
  background-image: url(/assets/images/menu-3.jpg);
 }

 .forms{
  margin:20px;
  background: #FAF8F0;  
  padding:20px;
  border-radius: 10px;
  text-align: center;
 }
 .forms img{
  max-width: 300px;
 }
 .forms img:hover{
  border-radius: 20px;
  transition: 2s;
 }
 div a:hover{
  color: #C44F5D;
 }
 nav{
  background: black;
 }
 ul{
  margin:0;
 }
 li{
  display: inline-block;
  padding: 10px 20px;
 }
 nav img{
  width:200px;
 }
 nav a{
  color:white;
  padding: 0 30px;

  font-size: 20px;
 }
h1{
  text-align: center;
  padding: 40px;
  font-size:50px;
  margin:0;
  background: #C44F5D;
  color:white;
}
.italic{
  font-style: italic;
}
.left{
  padding:20px;
}
footer{
clear:both;
bottom: 0;
width: 100%;
text-align: center;
}
footer nav{
  background:white;
  border-top: dotted 1px;
}
footer nav a{
  color:black;
}
h2 a{
  color:black;
}
p img{
  border-radius: 100px;
}
button{
  margin:20px;
}
button:hover{
  border-radius: 100px;
  transition: all 2s;
}
button a{
  color:white;
}
select{
  width:10%;
}
input[type="submit"]{
  background:black;
  border:none;
  border-radius: 5px;
  padding:10px;
  color:white;
  margin:20px;
}
input[type="submit"]:hover{
  color:#C44F5D;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  width:30%;
  margin:20px auto;
  }
  table tr th, table tr td{
    text-align: center;
  }