<div class="link">
    <nav>
    <ul>
      <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
        </li>
        <li>
        <!-- <%#= link_to('My Programs', user_path) %>  define this to show all the programs the user is signed up to! -->
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path)  %>  
        </li>
        <li>
        <%= link_to('Register', new_user_registration_path)  %>
        </li>
      <% end %>
        <li>
        <%= link_to('Programs', programs_path)  %>
        </li>
    </ul>
  </nav>
</div>